.elgg-menu-site {
	z-index: 1;
}

.elgg-menu-site .elgg-count {
	float: right;
	background: gray;
	padding: 0 .25em;
	border-radius: .3em;
}

.elgg-menu-site > li > a {
	color: white;
	padding: 0 .75em;
	height: 2.5em;
	line-height: 2.5em;
	text-decoration: none;
	vertical-align: middle;
}

.elgg-menu-site > li > a > .elgg-icon {
    margin-right: .75em;
}


.elgg-menu-site > .elgg-state-selected > a,
.elgg-menu-site > li > a:hover,
.elgg-menu-site > li > a:focus {
	background: white;
	color: #0B303D;
}