.elgg-menu-widget > li {
	position: absolute;
	top: 4px;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 2px 2px 0 0;
}

.elgg-menu-widget > .elgg-menu-item-collapse {
	left: 5px;
}

.elgg-menu-widget > .elgg-menu-item-delete {
	right: 5px;
}

.elgg-menu-widget > .elgg-menu-item-settings {
	right: 25px;
}