.elgg-module-widget {
	background-color: #dedede;
	padding: 2px;
	margin-bottom: 15px;
	position: relative;
}

.elgg-module-widget: hover {
	background-color: #ccc;
}

.elgg-module-widget > .elgg-head {
	background-color: #eeeeee;
	height: 26px;
	overflow: hidden;
}

.elgg-module-widget > .elgg-head h3 {
	float: left;
	padding: 4px 45px 0 20px;
	color: #666;
}

.elgg-module-widget.elgg-state-draggable .elgg-widget-handle {
	cursor: move;
}

.elgg-module-widget > .elgg-body {
	background-color: white;
	width: 100%;
	overflow: hidden;
	border-top: 2px solid #dedede;
}