.elgg-heading-site,
.elgg-heading-site: hover, .elgg-heading-site: focus {
	font-size: 2em;
	line-height: 1.4em;
	color: white;
	font-style: italic;
	font-family: Georgia, times, serif;
	text-shadow: 1px 2px 4px #333333;
	text-decoration: none;
}

.elgg-heading-site: focus {
	text-decoration: underline;
}

.elgg-heading-main {
	float: left;
	max-width: 530px;
	margin-right: 10px;
}

.elgg-heading-basic {
	color: #0054A7;
	font-size: 1.2em;
	font-weight: bold;
}