.elgg-module-dropdown {
	background-color: white;
	border: 5px solid #CCC;
	border-radius: 5px 0 5px 5px;
	display: none;
	width: 210px;
	padding: 12px;
	margin-right: 0px;
	z-index: 100;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.45);
	position: absolute;
	right: 0px;
	top: 100%;
}