/* ***************************************
    USER INPUT DISPLAY RESET
*************************************** */

.elgg-output {
	margin-top: 10px;
}

.elgg-output dt {
	font-weight: bold;
}

.elgg-output dd {
	margin: 0 0 1em 1em;
}

.elgg-output ul,
.elgg-output ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 1.5em;
}

.elgg-output ul {
	list-style-type: disc;
}

.elgg-output ol {
	list-style-type: decimal;
}

.elgg-output table {
	border: 1px solid #ccc;
}

.elgg-output table td {
	border: 1px solid #ccc;
	padding: 3px 5px;
}

.elgg-output img {
	max-width: 100%;
	height: auto;
}