.elgg-layout-widgets > .elgg-widgets {
	float: right;
}

.elgg-layout-widgets > .elgg-col > .elgg-inner {
	padding-left: 15px;
}

.elgg-layout-widgets > .elgg-col-last > .elgg-inner {
	padding-left: 0;
}