.elgg-table-alt {
	width: 100%;
	border-top: 1px solid #ccc;
}

.elgg-table-alt th {
	background-color: #eee;
	font-weight: bold;
}

.elgg-table-alt td,
.elgg-table-alt th {
	padding: 2px 4px 2px 4px;
	border-bottom: 1px solid #ccc;
}

.elgg-table-alt td: first-child {
	width: 200px;
}

.elgg-table-alt tr: hover {
	background: #E4E4E4;
}