.elgg-menu-page {
	margin-bottom: 15px;
}

.elgg-menu-page a {
	display: block;
	border-radius: 8px;
	background-color: white;
	margin: 0 0 3px;
	padding: 2px 4px 2px 8px;
}

.elgg-menu-page a: hover {
	background-color: #0054A7;
	color: white;
	text-decoration: none;
}

.elgg-menu-page li.elgg-state-selected > a {
	background-color: #4690D6;
	color: white;
}

.elgg-menu-page .elgg-child-menu {
	display: none;
	margin-left: 15px;
}

.elgg-menu-page .elgg-menu-closed: before, .elgg-menu-opened: before {
	display: inline-block;
	padding-right: 4px;
}

.elgg-menu-page .elgg-menu-closed: before {
	content: "\002B";
}

.elgg-menu-page .elgg-menu-opened: before {
	content: "\002D";
}