.ui-datepicker {
	display: none;
	margin-top: 3px;
	width: 208px;
	background-color: white;
	border: 1px solid #0054A7;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.ui-datepicker-inline {
	box-shadow: none;
}

.ui-datepicker-header {
	position: relative;
	background: #4690D6;
	color: white;
	padding: 2px 0;
	border-bottom: 1px solid #0054A7;
}

.ui-datepicker-header a {
	color: white;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 6px;
}

.ui-datepicker-next {
	right: 6px;
}

.ui-datepicker-title {
	line-height: 1.8em;
	margin: 0 30px;
	text-align: center;
	font-weight: bold;
}

.ui-datepicker-calendar {
	margin: 4px;
}

.ui-datepicker th {
	color: #0054A7;
	border: none;
	font-weight: bold;
	padding: 5px 6px;
	text-align: center;
}

.ui-datepicker td {
	padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 2px;
	line-height: 1.2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker-calendar .ui-state-default {
	border: 1px solid #ccc;
	color: #4690D6;
	;
    background: #fafafa;
}

.ui-datepicker-calendar .ui-state-hover {
	border: 1px solid #aaa;
	color: #0054A7;
	background: #eee;
}

.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .ui-state-active.ui-state-hover {
	font-weight: bold;
	border: 1px solid #0054A7;
	color: #0054A7;
	background: #E4ECF5;
}