.elgg-tabs {
	margin-bottom: 5px;
	border-bottom: 2px solid #cccccc;
	display: table;
	width: 100%;
}

.elgg-tabs li {
	float: left;
	border: 2px solid #ccc;
	border-bottom: 0;
	background: #eee;
	margin: 0 0 0 10px;
	border-radius: 5px 5px 0 0;
}

.elgg-tabs a {
	text-decoration: none;
	display: block;
	padding: 3px 10px 0 10px;
	text-align: center;
	height: 21px;
	color: #999;
}

.elgg-tabs a: hover {
	background: #dedede;
	color: #4690D6;
}

.elgg-tabs .elgg-state-selected {
	border-color: #ccc;
	background: white;
}

.elgg-tabs .elgg-state-selected a {
	position: relative;
	top: 2px;
	background: white;
}