/* ***************************************
    AVATAR ICONS
*************************************** */

.elgg-avatar {
	position: relative;
	display: inline-block;
}

.elgg-avatar > .elgg-icon-hover-menu {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	cursor: pointer;
}

.elgg-avatar > a > img {
	display: block;
}

.elgg-avatar-tiny > a > img {
	width: 25px;
	height: 25px;
    /* remove the border-radius if you don't want rounded avatars in supported browsers */
    border-radius: 3px;
    background-clip: border;
    background-size: 25px;
}
.elgg-avatar-small > a > img {
    width: 40px;
    height: 40px;
    /* remove the border-radius if you don't want rounded avatars in supported browsers */
	border-radius: 5px;
	background-clip: border;
	background-size: 40px;
}

.elgg-avatar-medium > a > img {
	width: 100px;
	height: 100px;
}

.elgg-avatar-large > a > img {
	width: 200px;
	height: 200px;
}