.elgg-form-field {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

* + .elgg-form-field {
    margin-top: 1em;
}

.elgg-form-field-label {
    font-weight: bold;
    margin: 0;
    border: 0;
    display: block;
    height: 1em;
    
}

input[type="text"],
input[type="email"],
input[type="password"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: .25em;
}

.elgg-form {
    margin: 0 auto;
    max-width: 25em;
    padding: 1em;
}