/* ***************************************
    FRIENDS PICKER
*************************************** */

.friends-picker-main-wrapper {
	margin-bottom: 15px;
}

.friends-picker-container h3 {
	font-size: 4em !important;
	text-align: left;
	margin: 10px 0 20px !important;
	color: #999 !important;
	background: none !important;
	padding: 0 !important;
}

.friends-picker .friends-picker-container .panel ul {
	text-align: left;
	margin: 0;
	padding: 0;
}

.friends-picker-wrapper {
	margin: 0;
	padding: 0;
	position: relative;
	width: 730px;
}

.friends-picker {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 730px;
	height: auto;
	background-color: #dedede;
	border-radius: 8px;
}

.friendspicker-savebuttons {
	background: white;
	border-radius: 8px;
	margin: 0 10px 10px;
}

.friends-picker .friends-picker-container {
    /* long container used to house end-to-end panels. Width is calculated in JS  */
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	list-style-type: none;
}

.friends-picker .friends-picker-container .panel {
	float: left;
	height: 100%;
	position: relative;
	width: 730px;
	margin: 0;
	padding: 0;
}

.friends-picker .friends-picker-container .panel .wrapper {
	margin: 0;
	padding: 4px 10px 10px 10px;
	min-height: 230px;
}

.friends-picker-navigation {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px solid #ccc;
}

.friends-picker-navigation ul {
	list-style: none;
	padding-left: 0;
}

.friends-picker-navigation ul li {
	float: left;
	margin: 0;
	background: white;
}

.friends-picker-navigation a {
	font-weight: bold;
	text-align: center;
	background: white;
	color: #999;
	text-decoration: none;
	display: block;
	padding: 0;
	width: 20px;
	border-radius: 4px;
}

.tabHasContent {
	background: white;
	color: #333 !important;
}

.friends-picker-navigation li a: hover {
	background: #333;
	color: white !important;
}

.friends-picker-navigation li a.current {
	background: #4690D6;
	color: white !important;
}

.friends-picker-navigation-l,
.friends-picker-navigation-r {
	position: absolute;
	top: 46px;
	text-indent: -9000em;
}

.friends-picker-navigation-l a,
.friends-picker-navigation-r a {
	display: block;
	height: 40px;
	width: 40px;
}

.friends-picker-navigation-l {
	right: 48px;
	z-index: 1;
}

.friends-picker-navigation-r {
	right: 0;
	z-index: 1;
}

.friends-picker-navigation-l {
	background: url(friendspicker.png) no-repeat left top;
}

.friends-picker-navigation-r {
	background: url(friendspicker.png) no-repeat -60px top;
}

.friends-picker-navigation-l: hover {
	background: url(friendspicker.png) no-repeat left -44px;
}

.friends-picker-navigation-r: hover {
	background: url(friendspicker.png) no-repeat -60px -44px;
}

.friendspicker-savebuttons .elgg-button-submit,
.friendspicker-savebuttons .elgg-button-cancel {
	margin: 5px 20px 5px 5px;
}

.friendspicker-members-table {
	background: #dedede;
	border-radius: 8px;
	margin: 10px 0 0;
	padding: 10px 10px 0;
}