.elgg-divide-top {
	border-top: 1px solid #CCCCCC;
}

.elgg-divide-bottom {
	border-bottom: 1px solid #CCCCCC;
}

.elgg-divide-left {
	border-left: 1px solid #CCCCCC;
}

.elgg-divide-right {
	border-right: 1px solid #CCCCCC;
}