<div class="elgg-layout elgg-river-layout">
    <section class="elgg-main elgg-body">
        <header class="elgg-head">
            <h2 class="elgg-heading-main">Activity</h2>
        </header>
        <div class="elgg-content elgg-body" role="main">
            <div class="elgg-composer" ng-show="user">
                <h4 style="display:inline-block">Share:</h4>
                <ul style="display:inline-block" class="elgg-menu elgg-menu-composer elgg-menu-hz elgg-menu-composer-default">
                    <li class="elgg-menu-item-album">
                        <a href="/photos/add/{{user.guid}}">
                            <span class="elgg-icon elgg-icon-photo"></span>Photo Album
                        </a>
                    </li>
                    <li class="elgg-menu-item-blog">
                        <a href="/blog/add/{{user.guid}}">
                            <span class="elgg-icon elgg-icon-speech-bubble"></span>Blog
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="elgg-list elgg-list-river elgg-river">
                <li data-ng-repeat="item in ctrl.getItems()">
                    <div data-elgg-river-item data-activity="item"></div>
                </li>
            </ul>

            <div class="center">
                <button class="elgg-link" ng-click="ctrl.loadNextItems()" ng-show="ctrl.hasNextItems() && !ctrl.isLoadingNextItems()">
                    See more...
                </button>
                <div class="elgg-ajax-loader centered" ng-show="ctrl.isLoadingNextItems()">
                </div>
            </div>
        </div>
    </section>
</div>
